<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDF1S2o0Kl0MRUqzxGVhaWJHLIk_iDDCpI</string>
	<key>GCM_SENDER_ID</key>
	<string>681556435778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doggyTinder</string>
	<key>PROJECT_ID</key>
	<string>playdate-afca4</string>
	<key>STORAGE_BUCKET</key>
	<string>playdate-afca4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681556435778:ios:035e5304a4d4f389325edb</string>
</dict>
</plist>